:root { 
    --brown-dark-bear: rgb(198, 141, 109);
    --brown-light-bear: rgb(221, 159, 128); 
    --yellow-bear: rgb(255, 218, 170); 
    --inner-bear: rgb(255, 196, 119);
    --nose-bear: rgb(147, 91, 69);
    --eyes-bear: rgb(87, 86, 92);
    --sky-bear: rgb(159, 246, 255);
    --sky-dark-bear: rgb(125, 232, 255);
    --sky-ligth-bear: rgb(204, 248, 255);
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 248, 181);
}
.container {
    width: 500px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 249, 206);
}
.head {
    background-color: var(--brown-dark-bear);
    border-radius: 50%;
    width: 232px;
    height: 200px;
    position: relative;
}
.head-copy {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--brown-light-bear);
    border-radius: 50%;
    z-index: 2;
}
.mood {
    background-color: var(--yellow-bear);
    border-radius: 50%;
    width: 45%;
    height: 40%;
    position: relative;
    left: 27.5%;
    top: 47%;
    z-index: 3;
}
.nose {
    background-color: var(--nose-bear);
    border-radius: 50%;
    width: 35%;
    height: 40%;
    position: relative;
    left: 32.5%;
}
.eye {
    height: 16px;
    width: 10px;
    background-color: var(--eyes-bear);
    position: absolute;
    border-radius: 5px;
    z-index: 3;
}
.eye.right {
    right: 27%;
}
.eye.left {
    left: 27%;
}
.ear {
    height: 32.5%;
    width: 32.5%;
    background-color: var(--brown-dark-bear);
    border-radius: 50%;
    position: absolute;
    top: 0%;
    z-index:1;
}
.ear.right {
    right: -20px;
}
.ear.left {
    left: -20px;
}
.inner-ear {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: var(--inner-bear);
    top: 25%;
    left: 25%;
    position: absolute;
}

.tie {
    position: absolute;
    z-index: 4;
    height: inherit;
    width: 100%;
    top: 92%;
}

.circle-tie {
    border-radius: 50%;
    height: 15%;
    width: 15%;
    background-color: var(--sky-ligth-bear);
    position: absolute;
    left: 42.5%;
    top: 5%;
    z-index: 8
}

.tie-layout {
    height: 28%;
    width: 30%;
    background-color: var(--sky-bear);
    position: absolute;
}

.tie-layout.right {
    right: 22%;
    border-radius: 90% 30% 30% 90% / 50% 50% 50% 50%;
}

.tie-layout.left {
    border-radius: 30% 90% 90% 30% / 50% 50% 50% 50%;
    left: 22%;
}

.inner-tie {
    height: 50%;
    width: 50%;
    background-color: var(--sky-dark-bear);
    position: absolute;
    left: 25%;
    top: 25%;
}

.inner-tie.right {
    border-radius: 90% 30% 30% 90% / 50% 50% 50% 50%;
}

.inner-tie.left {
    border-radius: 30% 90% 90% 30% / 50% 50% 50% 50%;
}